<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row" style="padding-top: 15px; padding-bottom: 10px;">
                    <div class="col-sm-4"><h1 class="display-4 text-secondary"><b>Books</b></h1></div>
                    <div class="col-sm-8">
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{'/books/admin/addForm'}"
                               class="btn btn-bg btn-success">
                                <i class="fa fa-trash">Add new</i>
                            </a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"><h2><b></b></h2></div>
            <div class="col-sm-8">
                <form id='filter-form'>
                    <div class="form-group">
                        <label for="titlePart">Search by title</label>
                        <input id="titlePart"
                               type="text"
                               th:size="30"
                               class="form-control"
                               th:name="titlePart"
                               required
                               placeholder="Enter title">
                    </div>
                    <button type="submit" class="btn btn-info add-new"><i class="fa fa-plus"></i>Search</button>
                </form>
            </div>
        </div>
        <table class="table table-bordered mt-3">
            <thead>
            <tr>
                <th class="col-sm-4">Title</th>
                <th class="col-sm-1">No. Pages</th>
                <th class="col-sm-1">Language</th>
                <th class="col-sm-1">Rating</th>
                <th class="col-sm-1">No. Ratings</th>
                <th class="col-sm-2">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book: ${books}">
                <td>
                    <a th:href="@{'/books/{id}' (id=${book.getID()})}">
                        <th:block th:text="${book.getTitle()}"/>
                    </a>
                </td>
                <td>
                    <th:block th:text="${book.getNum_pages()}"/>
                </td>
                <td>
                    <th:block th:text="${book.getLang_code()}"/>
                </td>
                <td>
                    <th:block th:text="${book.getAvg_rating()}"/>
                </td>
                <td>
                    <th:block th:text="${book.getNum_pages()}"/>
                </td>
                <td>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:action="@{'/books/admin/delete/{id}' (id=${book.getID()})}"
                              th:method="POST">
                            <button type="submit"
                                    class="btn btn-sm btn-danger mb-1">
                                <i class="fa fa-trash">Delete</i>
                            </button>
                        </form>
                    </th:block>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{'/books/admin/editForm/{id}' (id=${book.getID()})}"
                           class="btn btn-sm btn-info edit-product mb-1">
                            <i class="fa fa-trash">Edit</i>
                        </a>
                    </th:block>
                    <th:block sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
                        <a th:href="@{'/readingList/add/{id}' (id=${book.getID()})}"
                           class="btn btn-sm btn-success">
                            <i class="fa fa-trash">Add to reading list</i>
                        </a>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>